<div class="carousel carousel-center rounded-box m-7 lg:m-20">
  <div class="carousel-item">
    <img src="assets/img-3.jpg" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-4.jpg" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-5.JPG" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-6.JPG" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-7.JPG" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-1.jpg" alt="Pizza" />
  </div>
  <div class="carousel-item">
    <img src="assets/img-8.JPG" alt="Pizza" />
  </div>
</div>
